body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 14px;
  color: white;
}

nav {
  width: 50%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

nav li {
  float:right;
}

nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-right: 1px solid #ccc;
}

a:hover {
  background-color:#EBE2C2;
}

h1 {
  color: white;
}


.profile_img img {
  max-width: 100px;
}

#floating-signup_page {
  width: 200px;
  margin-left: auto;
 /* margin-right: 200px;*/
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color:rgba(255,0,0,0.2);
*/  color: white;
}

.floating-page {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  margin-top: -45px;
  margin-bottom: 50px;
  border-radius: 5px;
/*  background-color:rgba(255,0,0,0.2);
*/  color: white;
}

a {
  color: white
}


label{
    display: inline-block;
    float: left;
    clear: left;
    width: 250px;
    text-align: left;
}
