body {
  font-family: 'Lato', helvetica, arial, sans-serif;
  font-size: 14px;
  color: white;
}

nav {
  width: 60%;
  float: right;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
}

nav li {
  float:right;
}

nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  border-right: 1px solid #ccc;
}

a:hover {
  background-color:#EBE2C2;
}


h1 {
  color: white;
}

.profile_img {
  display: block;
  clear: both;
  float: left;
  max-width: 100px;
  padding: 0px;
  margin: 0px;
  border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.profile_info {
  float:left;
}

.comment_stuff {
  display: block;
  clear: both;
  margin-top: 10px;
  margin-bottom: 25px;
}


#floating-signup-page {
  width: 200px;
  margin-left: auto;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color:rgba(255,0,0,0.2);
  color: white;
}

.floating-page-200px {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color:rgba(255,0,0,0.2);
  color: white;
}


.floating-page-400px {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  margin-top: 0px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color:rgba(255,0,0,0.2);
  color: white;
}


a {
  color: white;
}


label {
  display: inline-block;
  float: left;
  clear: left;
  width: 250px;
  text-align: left;
}

.container {
  clear: both;
}

.comment_container {
  clear:both;
  padding-bottom: 10px;
}

.comment_image_container {
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

.img_container {
  text-align: center;
}


/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
